.main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    max-width: 40%;
    margin: auto;
  }

  .formElement {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  .formElement label {
    margin-bottom: 15px;
  }

  .formElement input {
    padding: 4px 5rem;
    width: stretch;
    height: 2rem;
  }

  .textarea {
    width: stretch;
    padding: 1rem 10px;
  }

  .submitbtn {
    width: stretch;
    height: 2rem;
    font: bolder;
    cursor: pointer;
    font-size: medium;
  }